<script setup>
const productStore = useProductStore();
useAsyncData("products", async () => productStore.fetchProducts());
</script>
<template>
  <div>
    <HomeHero />

    <div class="flex justify-end mt-10 px-10">
      <ProductFilters />
    </div>

    <div
      v-if="productStore.products"
      class="gap-7 p-10 sm:grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 flex-wrap justify-items-stretch items-stretch"
    >
      <TransitionGroup class="products" name="products">
        <ProductCard
          v-for="product in productStore.products"
          :product="product"
          :key="product.sys.id"
          class="mb-5"
        />
      </TransitionGroup>
    </div>
  </div>
</template>
<style>
/*
html,
body {
  margin: 0;
  font-family: "Dawning of a New Day", cursive;
}
*/

/* .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .title {
  font-family: "Dawning of a New Day", cursive;
  font-size: 30pt;
  font-weight: normal;
} */

/* .product-title {
  font-size: 16pt;
} */

/* .filter {
  font-family: arial;
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.35s;
}

.filter.active {
  box-shadow: 0px 1px 3px 0px #00000026;
}

.filter:hover {
  background: lightgray;
} */

/* .products {
  display: flex;
} */

.products-enter-from,
.products-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.products-move,
.products-enter-active,
.products-leave-active {
  transition: all 0.35s ease-in-out;
}

.products-leave-active {
  position: absolute;
}

.product-card {
  margin: 16px;
  display: flex;
}

/* .product-card {
  transition: all 0.35s ease-in-out;
  margin: 10px;
  box-shadow: 8px 8px 8px lightgrey;
  border-radius: 8px;
  width: flex;
  height: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/*
.circle {
  text-align: center;
  position: absolute;
  bottom: -38px;
  left: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /* 	border:1px solid black;
  display: flex;
  box-shadow: 0px -4px 3px 0px #494d3257;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px -3px 3px #484848a6;
}

.product-image-wrapper {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  opacity: 0.09;
  background: linear-gradient(
      to bottom,
      rgba(0, 210, 247, 0.65) 0%,
      rgba(0, 210, 247, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to top,
      rgba(247, 0, 156, 0.65) 0%,
      rgba(247, 0, 156, 0.64) 1%,
      rgba(0, 0, 0, 0) 100%
    );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product-image {
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
*/
</style>
